:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 10px;

  ul {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;

    li {
      list-style-type: circle;
    }
  }
}
