:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

app-information,
app-cash {
  flex: 1;
  margin: 10px;
}

@media (max-width: 780px) {
  :host {
    flex-direction: column;
  }

  app-information,
  app-cash {
    margin-top: 10px;
    width: 100%;
  }
}
