:host {
  section {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &.no-quantity {
      opacity: 0.2;
      cursor: default;
      pointer-events: none;
    }

    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }

    img {
      height: 100px;
    }
  }
}
