<ng-container
  *ngIf="{
    denominations: denominations$ | async,
    totalCash: totalCash$ | async,
    totalInsertedCash: totalInsertedCash$ | async,
    change: change$ | async,
    selectedProducts: selectedProducts$ | async
  } as vm"
>
  <app-cash-insertion [denominations]="vm.denominations"></app-cash-insertion>

  <h4>
    Total <strong>(${{ vm?.totalCash! | round : 2 }})</strong>
  </h4>

  <h4>
    Inserted <strong>(${{ vm?.totalInsertedCash! | round : 2 }})</strong>
  </h4>

  <app-cash-change-return [change]="vm.change!"></app-cash-change-return>

  <footer>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!(vm.change && vm.selectedProducts?.length)"
      (click)="
        handleBuy(vm.totalCash, vm.totalInsertedCash, vm.selectedProducts!)
      "
    >
      Buy
    </button>
    <button mat-raised-button color="accent" (click)="handleClear()">
      Clear
    </button>
  </footer>
</ng-container>
